.NavBar {
    min-height: var(--chakra-sizes-12);
    background-color: var(--chakra-colors-white);
    border-bottom: 1px solid var(--chakra-colors-gray-300);
    box-shadow: 0 0 3px var(--chakra-colors-gray-200);
}
