.filterByButton {
    height: 32px;
    border: 1px solid var(--chakra-colors-gray-200);
    width: 195px;
    padding: var(--chakra-space-2) var(--chakra-space-3) var(--chakra-space-2) var(--chakra-space-3);
}
