.layout {
    width: calc(100dvw - 4rem);
    min-height: 100dvh;
    margin-left: 4rem;
    background-color: var(--chakra-colors-white);
    height: calc(100dvh - var(--chakra-sizes-12));
    overflow: hidden;
    z-index: 1;
}

.contentArea {
    height: calc(100dvh - var(--chakra-sizes-12));
    background-color: var(--chakra-colors-gray-100);
}
